.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.heading {
  color: var(--yellow);
  text-align: center;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

.span {
  line-height: 120%;
  letter-spacing: 5px;
  color: var(--black);
  text-shadow: 2px 2px 0 #fedf4b, -2px -2px 0 #fedf4b, 2px -2px 0 #fedf4b,
    -2px 2px 0 #fedf4b;
}

.copy {
  font-size: 1.7rem;
  text-transform: uppercase;
  color: var(--yellow);
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.bottom {
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  margin-top: 5rem;
}

.imgOverlay {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(10, 7, 27, 0.7), rgba(10, 7, 27, 0.7));
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 250px;
  border: 3px solid var(--yellow);
}

.imgContainer:after {
  position: absolute;
  content: "";
  top: 3px;
  right: 3px;
  width: 101%;
  height: 101%;
  border: 3px solid var(--white);
}

.img {
  object-fit: cover;
}

.productName {
  color: var(--yellow);
  margin-top: 3rem;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 3;
}


.categoryName,
.price {
  color: var(--yellow);
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 3;
}

.btnContainer {
  z-index: 3;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: transparent;
  width: 33%;
  margin-left: auto;
  padding-right: 3rem;
}

.rotatingTextContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

@media screen and (max-width: 968px) {
  .heading {
    width: 80%;
  }

  .copy {
    width: 80%;
  }

  .bottom {
    grid-template-columns: repeat(2, 1fr);
  }

  .btnContainer {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .heading {
    width: 100%;
  }

  .copy {
    width: 100%;
  }

  .bottom {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 568px) {
  .btnContainer {
    width: 100%;
    padding-left: 3rem;
  }
}
