.content {
  display: flex;
  flex-direction: column;
}

.left {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 200px;
  border-radius: 10px;
}

.img {
  border-radius: 10px;
  position: absolute;
  object-fit: cover;
  border: 3px solid var(--yellow);
  cursor: pointer;
}

.right {
  width: 100%;
}

.imgContainerii {
  position: relative;
  width: 100%;
  height: 350px;
  border-radius: 10px;
}

.imgii {
  object-fit: cover;
  border: 3px solid var(--yellow);
  border-radius: 10px;
}

@media screen and (max-width: 968px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
  }

  .right {
    order: -1;
  }

  .left {
    flex-direction: row;
  }

  .imgContainer {
    width: 100%;
  }

  .imgContainerii {
    height: 400px;
  }
}

@media screen and (max-width: 568px) {
  .imgContainer {
    height: 150px;
  }

  .left {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
