:root {
  --green: #aeff12;
  --green2: #dafc53;
  --olive: #30533f;
  --oliveii: #3c6950;
  --gray: #f4f4f6;
  --black: #2a2a2a;
  --black2: #383838;
  --white: #ffffff;
  --white2: #b7b5b5;
  --border: #d4d4d4;
  --border2: #c3c3c3;
  --border3: #aeaeae;
  --border4: #686868;
  --text: #989696;
  --text2: #323131;
  --text3: #434343;
  --text4: #6a6a6a;
  --tan: #f1f1e9;
  --tan2: #d3d3b5;
  --tan3: #f7f1cf;
  --bgColor: #fffae6;
  --shadow: 20px 20px 50px rgba(0, 0, 0, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  line-height: 150%;
  font-family: var(--mulish);
  overscroll-behavior: none;
  scroll-behavior: smooth;
  scroll-margin-top: 20px;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-size: 1.6rem;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: var(--staatliches);
  color: var(--olive);
  /* hyphens: auto; */
}

h1 {
  font-size: 7rem;
  font-weight: 400;
  line-height: 0.85em;
}

h2 {
  font-size: 6.2rem;
  font-weight: 400;
  line-height: 0.97em;
}

h3 {
  font-size: 5.5rem;
  line-height: 1em;
  font-family: var(--fraunces);
  font-style: italic;
  font-weight: 600;
}

h4 {
  font-size: 2.8rem;
}

h5 {
  font-size: 2.5rem;
}

h6 {
  font-size: 2rem;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
}

p,
input,
textarea {
  hyphens: auto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2em;
  color: var(--olive);
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.blog {
  font-size: 1.6rem;
}

/* ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--secondary);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
}

::selection {
  background: var(--secondary);
}
::-moz-selection {
  background: var(--secondary);
} */

@media screen and (max-width: 768px) {
  html {
    font-size: 55%;
  }

  /* p {
    font-size: 113.7%;
  } */
}

@media screen and (max-width: 568px) {
  html {
    font-size: 50%;
  }


  p,
  label {
    font-size: 110%;
  }
}

/* .toastFont {
} */

/* Only use in production */
/* @media screen and (max-width: 623px) {
  h1,
  h2 {
    letter-spacing: -0.1rem;
  }
} */



.react-datepicker {
  width: 100%;
}

.react-datepicker__month-container {
  float: left;
  width: 100%;
}
.react-datepicker {
  border: 1px solid var(--gray) !important;
  border-radius: 10px !important;
}

.react-datepicker {
  width: 375px !important;
}

.react-datepicker__header {
  padding-top: 2rem !important;
  border-top-right-radius: 10px !important;
  border-top-left-radius: 10px !important;
}

.react-datepicker__navigation {
  top: 15px !important;
}

.react-datepicker__month {
  width: 100%;
  user-select: none !important;
}

.react-datepicker__current-month {
  font-size: 1.6rem !important;
  margin-bottom: 2rem !important;
}

.react-datepicker__day-names,
.react-datepicker__week {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}

.react-datepicker__day-names {
  padding: 0rem !important;
}

.react-datepicker__day-name {
  font-size: 1.4rem;
  font-weight: 600;
  background-color: transparent;
}

.react-datepicker__day {
  font-size: 1.4rem;
  position: relative;
  z-index: 1;
}
/* 
.react-datepicker__day::after {
} */

.react-datepicker__day--selected,
.react-datepicker__day--today,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--selecting-range-start,
.react-datepicker__day--selecting-range-end,
.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  position: relative;
  user-select: none !important;
  background-color: transparent !important;
}

.react-datepicker__day--selected:after,
.react-datepicker__day--today:after,
.react-datepicker__day--in-selecting-range:after,
.react-datepicker__day--selecting-range-start:after,
.react-datepicker__day--selecting-range-end:after,
.react-datepicker__day--selected:after,
.react-datepicker__day--in-selecting-range:after,
.react-datepicker__day--in-range:after,
.react-datepicker__month-text--selected:after,
.react-datepicker__month-text--in-selecting-range:after,
.react-datepicker__month-text--in-range:after,
.react-datepicker__quarter-text--selected:after,
.react-datepicker__quarter-text--in-selecting-range:after,
.react-datepicker__quarter-text--in-range:after,
.react-datepicker__year-text--selected:after,
.react-datepicker__year-text--in-selecting-range:after,
.react-datepicker__year-text--in-range:after {
  position: absolute;
  content: "";
  top: -8px;
  left: -6px;
  background-color: var(--olive);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: -1;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  border-radius: 0.3rem;
  background-color: transparent !important;
  color: var(--white) !important;
}

.mapboxgl-canvas {
  border-radius: 20px;
  height: 350px;
  width: 100%;
}

@media screen and (max-width: 968px) {
  .react-datepicker {
    width: calc(80vw - 10px) !important;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 768px) {
  .react-datepicker__day--selected:after,
  .react-datepicker__day--today:after,
  .react-datepicker__day--in-selecting-range:after,
  .react-datepicker__day--selecting-range-start:after,
  .react-datepicker__day--selecting-range-end:after,
  .react-datepicker__day--selected:after,
  .react-datepicker__day--in-selecting-range:after,
  .react-datepicker__day--in-range:after,
  .react-datepicker__month-text--selected:after,
  .react-datepicker__month-text--in-selecting-range:after,
  .react-datepicker__month-text--in-range:after,
  .react-datepicker__quarter-text--selected:after,
  .react-datepicker__quarter-text--in-selecting-range:after,
  .react-datepicker__quarter-text--in-range:after,
  .react-datepicker__year-text--selected:after,
  .react-datepicker__year-text--in-selecting-range:after,
  .react-datepicker__year-text--in-range:after {
    top: -9px;
    left: -7px;
  }
}

.dataTables_info {
  margin-top: 3rem;
  font-weight: 500;
}
