.container {
  background-color: var(--black);
}

.top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 7rem;
  margin-top: 5rem;
}

.heading {
  color: var(--yellow);
  font-size: 10rem;
}

.price {
  font-weight: 600;
}

.price,
.description {
  color: var(--yellow);
  font-size: 1.7rem;
  /* text-transform: uppercase; */
  width: 80%;
  color: var(--yellow);
  margin-top: 2rem;
}

.rotatingTextBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

@media screen and (max-width: 1000px) {
  .top {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .price,
  .description {
    width: 100%;
  }
}
