.container {
  background-color: var(--tan);
  padding-top: 5rem;
}

.categorySection {
  margin-bottom: 10rem;
}

.categoryTitle {
  margin-bottom: 3rem;
  text-align: center;
}

.categoryItems {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}
