.container {
  background-color: var(--yellow);
}

.content {
  background-color: transparent;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.left {
  background-color: transparent;
}

.heading {
  color: var(--black);
}

.copy {
  font-size: 1.7rem;
  text-transform: uppercase;
  color: var(--black);
  /* width: 70%; */
  margin-top: 3rem;
}

.right {
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  transform: rotate(45deg);
}

.icon:nth-child(2) {
  opacity: 0.7;
}
.icon:nth-child(3) {
  opacity: 0.5;
}

@media screen and (max-width: 1068px) {
  .content {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5rem;
  }

  .copy {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .heading,
  .copy {
    text-align: center;
    width: 100%;
  }

  .right {
    display: flex;
    flex-direction: column;
  }
}
